# Unset all DBT environment settings
# This avoids any stragglers but may mean desired globals are lost!
unset DBT_ORG;
unset DBT_IMAGE;
unset DBT_PLATFORM;
unset DBT_PROFILE;
unset DBT_VERSION;
unset DBT_NETWORK;
unset DBT_PROJECT_DIR;

# Set the Project Directory
# This is MANDATORY for all DBT projects!
# Use $PWD if this is the DBT project directory
export DBT_PROJECT_DIR="$PWD/jaffle_shop";

# Set the profile dir
# As this is self-contained, do not rely on the global DBT profile file
export DBT_PROFILE="$PWD/profiles.yml"

# Set the DBT version to the one used in the project
# This ensures the correct container version is pulled and used
export DBT_VERSION="0.21.0";


# This is a docker-compose project, so attempt to find the network if it already exists
# To connect to the local Postgres instance, you need to have DBT running within the same Docker network
# The start and stop scripts reload the direnv settings to set this if needed
DOCKER_COMPOSE_APP=`basename $PWD`;
DOCKER_NETWORK=`docker network list | grep $DOCKER_COMPOSE_APP | awk '{print $2}'`
if [[ -n "$DOCKER_NETWORK" ]]; then
  echo $DOCKER_NETWORK;
  export DBT_NETWORK=$DOCKER_NETWORK;
fi
